.home-btn__container {
  padding: 6em 0;
}
.btn-home {
  display: flex;
}
.home-btn {
  text-decoration: none;
  background-color: #ee4d47;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--clr-primary);
  border-radius: 0.313em;
  padding: 1em 2em;
  font-family: var(--ff-rubik);
  transition: background-color 200ms ease-in-out;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.home-btn:hover {
  background-color: #aa3734;
  transition: background-color 200ms ease-in-out;
}

.btn-arrow {
  margin-left: 1em;
}
@media (max-width: 1600px) {
  .home-btn__container {
    padding: 3em 0 0em 0;
  }
}
@media (max-width: 1300px) {
  .home-btn__container {
    padding-top: 2em;
  }
}

@media (max-width: 600px) {
  .home-btn__container {
    padding: 4em 0;
  }
  .home-btn {
    font-size: 1em;
  }
}
@media (max-width: 400px) {
  .home-btn__container {
    padding: 4em 0;
  }
  .home-btn {
    font-size: 0.8em;
  }
}
