.car-container {
  padding-top: 9.2em;
  padding-bottom: 3em;
  z-index: 1;
}
.home-car__img {
  width: 30%;
}

@media (max-width: 1100px) {
  .car-container {
    width: 100%;
    padding-top: 0em;
  }
  .home-car__img {
    width: 35%;
  }
}
@media (max-width: 600px) {
  .car-container {
    width: 100%;
  }
  .home-car__img {
    width: 60%;
  }
}
@media (max-width: 400px) {
  .car-container {
    width: 100%;
    padding-top: 8em;
  }
  .home-car__img {
    width: 70%;
  }
}
