.faqs-desc__container {
  width: 100%;
  position: relative;
}

.accent-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: -1;
}

.accent-div__right {
  width: 70%;
  padding-top: 60em;
  background-color: #fdede8;
  border-top-left-radius: 10em;
}

/* Description and Image containers */
.cols-container {
  display: flex;
  padding-top: 8em;
  padding-bottom: 6em;
}
.description-and__img {
  display: flex;
  justify-content: space-between;
}

/* Title and description */
.faqs-title {
  font-family: var(--ff-rubik);
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--clr-accent);
  font-weight: 700;
  padding-top: 6em;
  padding-bottom: 2em;
}
.faqs-description {
  font-family: var(--ff-dm);
  font-size: 3rem;
  line-height: 4.2rem;
  color: var(--clr-grey);
  font-weight: 400;
  max-width: 500px;
}
@media (max-width: 1300px) {
  .faqs-description {
    max-width: 1000px;
    font-size: 1.5rem;
  }
  .col-two__faqs {
    width: 70%;
  }
}
@media (max-width: 1100px) {
  .description-and__img {
    flex-direction: column;
  }
  .third-img {
    width: 100%;
  }
  .faqs-title {
    padding-top: 2em;
  }
  .col-two__faqs {
    padding-top: 5em;
  }
  .third-img {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .cols-container {
    padding-top: 0em;
  }
}
@media (max-width: 600px) {
  .faqs-description {
    width: 60%;
    font-size: 1.3rem;
    line-height: 1.5em;
  }
  .third-img {
    padding-bottom: 2em;
  }
}
@media (max-width: 450px) {
  .faqs-title {
    font-size: 1.3rem;
  }
  .faqs-description {
    width: 80%;
    font-size: 1rem;
    line-height: 1.5em;
  }
}
