.btn-holder {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 6em;
}

.btn-container {
  width: 50%;
  padding: 0.7em;
}

.load-btn {
  width: 100%;
  padding: 1.2em;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ed4d4762;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-family: var(--ff-rubik);
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.load-btn:hover {
  background-color: rgba(209, 97, 93, 0.6);
  color: white;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.load-btn:active {
  transform: translateY(2px);
}
.load-span {
  font-family: var(--ff-rubik);
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 1em;
}
@media (max-width: 600px) {
  .load-span {
    display: none;
  }
}
@media (max-width: 400px) {
  .load-btn {
    font-size: 0.7rem;
  }
}
