.accordion-body {
  padding-top: 8rem;
}
.accordion {
  display: flex;
  /* flex-direction: column; */
  /* display: none; */
  gap: 2em;
}
.acrd-col__one {
  width: 50%;
}
.acrd-col__two {
  width: 50%;
}
.accordion-title {
  width: 100%;
  padding: 1.4em;
  font-family: var(--ff-rubik);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--clr-grey);
  background-color: #fef8f5b2;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px #13131352;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-msg {
  width: 100%;
  margin-bottom: 1em;
  height: 0;
  overflow: hidden;
}
.show {
  width: 100%;
  padding: 3em 2em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fef8f5a4;
  box-shadow: 0px 2px 5px 1px #13131352;
  margin-bottom: 2em;
}
.acrd-span {
  font-size: 1.5rem;
  color: var(--clr-accent);
}

@media (max-width: 400px) {
  .accordion {
    width: 100%;
    display: flex;
  }
  .accordion-title {
    width: 100%;
    font-size: 0.6rem;
  }
  .accordion-msg {
    width: 100%;
  }
  .show {
    width: 100%;
  }
}
