.btn-holder {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 6em;
}

.btn-container {
  width: 49%;
}

.load-btn {
  width: 100%;
  padding: 1.2em;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ed4d47a4;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-family: var(--ff-rubik);
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.load-span {
  font-family: var(--ff-rubik);
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 1em;
}
