.row-and-col__container {
  position: relative;
}

.row-one__content {
  width: 100%;
}

.footer-img__container {
  width: 100%;
  position: relative;
  padding-bottom: 3em;
}

.footer-vectore__one {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 7%;
}
.footer-car {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 15%;
}
.footer-vectore__two {
  position: absolute;
  bottom: 0;
  left: 9em;
}

/* Footer card */
.card-container {
  width: 100%;
}

.card-footer {
  width: 90%;
  background-color: #0f264c;
  border-top-right-radius: 8rem;
}
.footer-col__container {
  display: flex;
  gap: 2em;
}
.footer-desc {
  display: flex;
  padding-top: 4em;
}
.footer-span {
  width: 1.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ed4d47;
}
.footer-p {
  width: 50%;
  font-family: var(--ff-rubik);
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--clr-primary);
  padding: 0.8em;
}

/* Rights Reserved Section*/
.rights-reserved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
.copy-rights {
  font-family: var(--ff-rubik);
  font-weight: 300;
  font-size: 1rem;
  color: var(--clr-grey);
}
.social-media > * {
  padding-left: 1em;
}
@media (max-width: 1350px) {
  .footer-col__container {
    gap: 0;
    flex-direction: column;
  }
  .footer-desc {
    padding-top: 6em;
    padding-bottom: 10em;
  }
  .footer-p {
    width: 50%;
  }
  .footer-vectore__one {
    width: 14%;
  }
  .footer-car {
    width: 26%;
  }
  .footer-vectore__two {
    width: 20%;
  }
}
@media (max-width: 1100px) {
  .footer-col__container {
    flex-direction: column;
  }
  .footer-desc {
    padding-bottom: 10em;
  }
}
@media (max-width: 950px) {
  .footer-col__container {
    flex-direction: column;
  }
  .footer-desc {
    padding-bottom: 10em;
  }
  .footer-car {
    width: 30%;
  }
}
@media (max-width: 850px) {
  .footer-col__container {
    flex-direction: column;
  }
  .footer-vectore__one {
    width: 15%;
  }
  .footer-car {
    width: 30%;
  }
  .footer-vectore__two {
    width: 30%;
  }
  .footer-desc {
    padding-bottom: 10em;
  }
  .rights-reserved {
    padding-right: 3em;
  }
}
@media (max-width: 600px) {
  .card-footer {
    width: 100%;
  }
  .footer-vectore__one {
    width: 25%;
  }
  .footer-car {
    width: 50%;
  }
  .footer-vectore__two {
    width: 35%;
  }
}
@media (max-width: 450px) {
  .footer-p {
    width: 80%;
    font-size: 1.3rem;
  }
  .social-media > * {
    padding-left: 0.6em;
  }
}
@media (max-width: 400px) {
  .footer-p {
    font-size: 1.1rem;
  }
  .rights-reserved {
    width: 100%;
    padding-left: 1.1rem;
  }
  .footer-vectore__two {
    left: 6em;
  }
}
@media (max-width: 300px) {
  .card-footer {
    width: 100%;
    border-top-right-radius: 4rem;
  }
  .footer-vectore__one {
    width: 25%;
  }
  .footer-car {
    width: 60%;
  }
  .footer-vectore__two {
    width: 35%;
    left: 8em;
  }
  .footer-p {
    width: 100%;
    font-size: 1rem;
  }
}
