.navigation {
  display: flex;
  align-items: center;
  padding: 2em 0;
  white-space: nowrap;
  z-index: 99;
  position: relative;
}

@media (max-width: 1100px) {
  .navigation {
    justify-content: space-between;
  }
}
