.how-to {
  width: 100%;
  padding-top: 8em;

  margin: 0 auto;
  display: flex;
  padding-bottom: 6em;
}

@media (max-width: 1200px) {
  .how-to {
    flex-direction: column-reverse;
  }
}
@media (max-width: 600px) {
  .how-to {
    padding-top: 4em;
    padding-bottom: 0em;
  }
}
